---
import { themeConfig } from '~/.config'

const { title, subtitle } = themeConfig.site
---

<hgroup lg=" items-start text-left " class="cursor-pointer text-center">
  <a class="not-underline-hover" href="/">
    <h3 class="text-4">{subtitle}</h3>
    <h1 class="text-6 font-extrabold">{title}</h1>
  </a>
</hgroup>
